/*Centro de Biotecnologia Agropecuaria
Análisis y Desarrollo de Software
FICHA: 2470980
Autor: Yeimmy Katherine lugo Mora
Fecha de creación: 04 de marzo de 2022
Fecha de actualización: 05 de marzo de 2022*/

body{
    background-color:indianred;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

header{
    background-color: rgb(74, 7, 199);
    margin: auto;
    align-content: center;
    font-family:'Times New Roman';
    font-size: larger;
    text-align: center;
    padding: 40px;
}

nav{
    background-color:orange;
    margin: auto;
    align-content: center;
    font-family:'Times New Roman';
    font-size: larger;
    text-align: center;
    padding: 30px;
}

.flex{
    display: flex;
    flex-direction: row;
}

aside{
    background-color: darkmagenta;
    text-align: center;
    margin: left;
    font-family:'Times New Roman';
    font-size: larger;
    padding: 30px;
    flex: 20%;
    padding-bottom: 40%;
}

article{
    background-color:rgb(192, 51, 16);
    text-align: center;
    margin: auto;
    font-family:'Times New Roman';
    font-size: larger;
    padding: 40px;
    flex: 60%;
    padding-bottom: 40%;
}

aside{
    background-color: rgb(83, 194, 202);
    text-align: center;
    margin: right;
    font-family:'Times New Roman';
    font-size: larger;
    padding: 30px;
    flex: 20%;
    padding-bottom: 40%;
}

footer{
    background-color: rgb(102, 255, 0);
    text-align: center;
    margin: auto;
    font-family:'Times New Roman';
    font-size: larger;
    padding: 15px;
}
/*backround color: se utilizo para dar color a un elemento.
  text align: se utilizo para alinear los textos y los contenidos
  width: se utilizo para determinar el ancho del area de contenido de un elemento.
  margin left: se utilizo para establecer el margen izquierdo de un elemento especificando una longitud o un porcentaje.
  margin right: se utilizo para establecer el margen derecho de un elemento especificando una longitud o un porcentaje.
  align content: se utilizo para ajustar las líneas dentro de un contenedor flex cuando hay espacio extra en el eje transversal.
  font size: se utilizo para el tamaño de la letra.
  font family: se utilizo para dar un tipo de letra al texto.
  height: se utilizo para especificar la altura del area de contenido de un elemento.
  padding: se utilizo para establecer el espacio de relleno requerido por todos los lados de un elemento.*/