/*Centro de Biotecnologia Agropecuaria
Análisis y Desarrollo de Software
FICHA: 2470980
Autor: Yeimmy Katherine lugo Mora
Fecha de creación: 04 de marzo de 2022
Fecha de actualización: 05 de marzo de 2022*/

body{
    background-color: blanchedalmond;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 100px;
}

header{
    background-color: deeppink;
    margin: auto;
    align-content: center;  
    font-family: Verdana;
    font-size: larger;
    text-align: center;
    padding: 40px;
}

nav{
    background-color: chartreuse;
    margin: auto;
    align-content: center;
    font-family: Verdana;
    font-size: larger;
    text-align: center;
    padding: 10px;
}

.flex{
    display: flex;
    flex-direction:row;
}

article{
    background-color: darkorange;
    margin: auto;
    align-content: center;
    font-family: Verdana;
    font-size: larger;
    text-align: center;
    flex: 70%;
    padding: 60px;
    padding-bottom: 40%;
    margin-right: 3px;
}

aside{
    background-color: hotpink;
    align-content: center;
    margin: auto;
    text-align: center;
    font-family: Verdana;
    font-size: larger;
    text-align: center;
    flex: 30%;
    padding: 50px;
    padding-bottom: 41%;
}

footer{
    background-color: lightseagreen;
    margin: auto;
    align-content: center;
    font-family: Verdana;
    font-size: larger;
    text-align: center;
    padding: 15px;
}
/*backround color: se utilizo para dar color a un elemento.
  text align: se utilizo para alinear los textos y los contenidos
  width: se utilizo para determinar el ancho del area de contenido de un elemento.
  margin left: se utilizo para establecer el margen izquierdo de un elemento especificando una longitud o un porcentaje.
  margin right: se utilizo para establecer el margen derecho de un elemento especificando una longitud o un porcentaje.
  align content: se utilizo para ajustar las líneas dentro de un contenedor flex cuando hay espacio extra en el eje transversal.
  font size: se utilizo para el tamaño de la letra.
  font family: se utilizo para dar un tipo de letra al texto.
  height: se utilizo para especificar la altura del area de contenido de un elemento.
  padding: se utilizo para establecer el espacio de relleno requerido por todos los lados de un elemento.*/